@import url(root.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.eightpage{
    /* height: 458px; */
    width: 100%;
    background-color: var(--bs-code-color);
}


.clinical{
    text-align: center;
    /* padding-top: 10%; */
    color: var(--bs-white);
}

.years{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 70%;
    margin-left:15%;
    margin-top: 8%;
    /* background-color: aqua; */
}

.years h4{
    text-align: center;
    color: var(--bs-white);
    font-size: 22px;
}



@media only screen and (max-width: 768px) {
    .years {
        flex-direction: column;
        align-items: center;
    }
    .years h4 {
        margin-bottom: 20px;
    }
}