  @import url(root.css);

  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }


  .secondpage{
      height: 699.82px;
      width: 100%;
      background-image: var(--bs-gradient);
      /* margin-top: 5%; */
      display: flex;
      
    }

    .bottomcontent2{
      height: 100%;
      width: 40%;
      /* background-color: blue; */
      display: flex;
      justify-content: center;
      align-items: center;
    }

    
    .bottomcontent2data{
      color: var(--bs-gray-400);
      width: 40%;
      font-size: 16px;
      /* background-color: aqua; */
    }

  .topcontent2{
      display: flex;
      align-items: center;
  }


  .databox {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* margin-top: 40px; */
      margin-top: 30px;
  }

  .logoimg {
      height: 160px;
      width: 165px;
      object-fit: cover;
  }


  .topcontent2data p {
      width: 45%;
      font-size: 16px;
      text-align: center;
      margin-top: 25px;
      color: var(--bs-white);
      font-family: Arial, Helvetica, sans-serif;

  }





  @media (max-width: 425px) {

  

    .topcontent2data {
      /* margin-left: -20%; */
      display: flex;
      flex-direction: column; /* Display profiles in a single column */
      align-items: center; /* Center items horizontally */
    }
  
    
  }
