@import url(root.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.seventhpage{
    /* height: auto; */
    width: 100%;
    background-color: white;
}
.contactform{
    padding-top: 8%;
    padding-left: 5%;
}
.addressform h6{
    color: var(--bs-black);
}
.contactus h2{
    color: var( --bs-blue);
    font-size: 25px;
}

.addressform{
    width: 95%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.firstadd p{
    margin-top: 10%;
}
.firstadd1{
    margin-top: 20%;
}
.borderf1{
    border-bottom: 2px solid black;
    padding-top: 10%;
}

.borderf2{
    border-bottom: 2px solid black;
    padding-top: 10%;

}

.secondadd p{
    margin-top: 16%;

}
.secondadd1{
    margin-top: 23%;

}
.borders1{
    border-bottom: 2px solid black;
    /* padding-top: 80%;
    padding-bottom: 20%; */
    padding: 45%;
}
.borders2{
    border-bottom: 2px solid black;
    padding-top: 12%;

}
.inpform input{
    width: 100%;
    margin-bottom:90px;
    padding-left: 10px;
}

.inpform textarea{
    padding-left: 10px;

}
.inpform button{
    height: 60px;
    width: 150px;
    margin-top: 45px;
    border: none;
    background-color: var(--bs-blue-2);
    border-radius: 3px;
    color: var(--bs-white);

}


.treatmenttext{
    width: 732px;
    margin-top: 10%;
    color: var(--bs-blue);
    font-size: 35px;
    margin-bottom: 80px;
}



@media only screen and (max-width: 824px) {
    .addressform {
        flex-direction: column;
    }

    .firstadd,
    .secondadd {
        width: 100%;
    }

    .firstadd1,
    .secondadd1 {
        margin-top: 10%;
    }
    .borders1{
        padding: 5%;
    }
}

@media only screen and (min-width: 768px) {
    .addressbox {
        height: 300px;
      }
}

